#page[data-page='dashboard'] {
	& > div {
		margin-bottom: 5px;

		& > nav {
			& ul {
				& > li {
					&.active { background-color: #eee; }
					a {
						padding-top:    5px;
						padding-bottom: 5px;
					}
				}
			}
		}

		& > #tracker-table-links {
			clear: both;

			background-color: #eee;
			overflow: auto;

			padding: 3px 7px;

			#move-container {
				margin-left: 10px;
			}

			div {
				display: inline-block;
				text-align: center;
			}
			input {
				visibility: hidden;
				position: absolute;
			}

			label {
				margin-bottom: 0;
				span {
					color: #003399;
					background-color: transparent;
					font-weight: normal;
					cursor: pointer;
					&:hover {
						text-decoration: underline;

					}
				}
			}

			#import-status {
				margin-right: 10px;
			}
		}
	}

	& > .tracker-table {
		width: 100%;
		text-align: left;

		& > tbody {
			& > tr {
				& > td:nth-of-type(1) {
					width: 5%;
					text-align: center;
					& > input { vertical-align: sub; }
				}
				& > td:nth-of-type(2) {
					& > img {
						height: 15px;
						width:  15px;
					}
					width: 50%;

					&:hover .more-info {
						display: inline;
					}
					.more-info {
						display: none;
						margin-right: 15px;
						&:hover {
							text-decoration: underline;
							cursor: pointer;
						}
					}
					& > .tags {
						display: none;
						input { font-style: normal; }
					}
				}
				& > td:nth-of-type(3) { width: 20%; }
				& > td:nth-of-type(4) { width: 20%; }
				& > td:nth-of-type(5) {
					width: 5%;
					text-align: right;
					padding: 0 5px;

					& > .update-read {
						cursor: pointer;
					}
				}
			}
		}
	}
}
