<phpunit
	bootstrap="./Bootstrap.php"
	backupGlobals="true"
	colors="true">
	<testsuites>
		<testsuite name="MainTestSuite">
			<directory suffix="test.php">./</directory>
			<exclude>./_ci_phpunit_test/</exclude>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../controllers</directory>
			<directory suffix=".php">../core</directory>
			<directory suffix=".php">../models</directory>
			<directory suffix=".php">../views</directory>
			<directory suffix=".php">../libraries</directory>
			<directory suffix=".php">../helpers</directory>
			<directory suffix=".php">../hooks</directory>
			<exclude>
				<directory suffix=".php">../models/vendor</directory>
				<directory suffix=".php">../libraries/vendor</directory>
				<directory suffix=".php">../helpers/vendor</directory>
				<directory suffix=".php">../hooks/vendor</directory>

				<!-- TODO (RESEARCH): Unsure how to go about testing this, so ignoring for now. -->
				<directory>../views/errors</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="build/coverage"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
