.sprite {
	display: inline-block;
	vertical-align: text-bottom; //ALT: middle
}
.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
	background-position: @x @y;
	width:  @width;
	height: @height;
}

.sprite-time {
	.sprite();

	@cache-version: 3;
	background: url('../../img/time.@{cache-version}.png') no-repeat;


	&.sprite-day   { .stitches-sprite(-22px, -2px, 16px, 16px); }
	&.sprite-3day  { .stitches-sprite(-2px, -2px, 16px, 16px); }
	&.sprite-week  { .stitches-sprite(-82px, -2px, 16px, 16px); }
	&.sprite-month { .stitches-sprite(-62px, -2px, 16px, 16px); }
	&.sprite-error { .stitches-sprite(-42px, -2px, 16px, 16px); }

}

.sprite-site {
	.sprite();
	@cache-version: 8;
	background: url('../../img/sites.@{cache-version}.png') no-repeat;

	&.sprite-bato-to {
		.stitches-sprite(-2px, -2px, 16px, 16px);
	}

	&.sprite-dynasty-scans-com {
		.stitches-sprite(-22px, -2px, 16px, 16px);
	}

	&.sprite-gameofscanlation-moe {
		.stitches-sprite(-42px, -2px, 16px, 16px);
	}

	&.sprite-helveticascans-com {
		.stitches-sprite(-62px, -2px, 16px, 16px);
	}

	&.sprite-jaiminisbox-com {
		.stitches-sprite(-82px, -2px, 16px, 16px);
	}

	&.sprite-kissmanga-com {
		.stitches-sprite(-102px, -2px, 16px, 16px);
	}

	&.sprite-kobato-hologfx-com {
		.stitches-sprite(-122px, -2px, 16px, 16px);
	}

	&.sprite-mangafox-me {
		.stitches-sprite(-142px, -2px, 16px, 16px);
	}

	&.sprite-mngcow-co {
		.stitches-sprite(-162px, -2px, 16px, 16px);
	}

	&.sprite-myanimelist-net {
		.stitches-sprite(-182px, -2px, 16px, 16px);
	}

	&.sprite-myanimelist-net-none {
		.stitches-sprite(-202px, -2px, 16px, 16px);
	}

	&.sprite-otscans-com {
		.stitches-sprite(-222px, -2px, 16px, 16px);
	}

	&.sprite-read-egscans-com {
		.stitches-sprite(-242px, -2px, 16px, 16px);
	}

	&.sprite-reader-deathtollscans-net {
		.stitches-sprite(-262px, -2px, 16px, 16px);
	}

	&.sprite-reader-kireicake-com {
		.stitches-sprite(-282px, -2px, 16px, 16px);
	}

	&.sprite-reader-seaotterscans-com {
		.stitches-sprite(-302px, -2px, 16px, 16px);
	}

	&.sprite-reader-sensescans-com {
		.stitches-sprite(-322px, -2px, 16px, 16px);
	}

	&.sprite-reader-whiteoutscans-com {
		.stitches-sprite(-342px, -2px, 16px, 16px);
	}

	&.sprite-readms-net {
		.stitches-sprite(-362px, -2px, 16px, 16px);
	}

	&.sprite-www-demonicscans-com {
		.stitches-sprite(-382px, -2px, 16px, 16px);
	}

	&.sprite-www-mangahere-co {
		.stitches-sprite(-402px, -2px, 16px, 16px);
	}

	&.sprite-www-mangapanda-com {
		.stitches-sprite(-422px, -2px, 16px, 16px);
	}

	&.sprite-www-webtoons-com {
		.stitches-sprite(-442px, -2px, 16px, 16px);
	}
}

