body {
	margin: 40px;

	color: #4F5155;
	background-color: #FFFFFF;

	font: 13px/20px normal;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 26px;
}
a {
	color: #003399;
	background-color: transparent;

	font-weight: normal;
}
a:hover {
	color: #23527C;
}
select {
	color: #4F5155;
	background: #FFFFFF;
}
h1 {
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;

	color: #4F5155;
	border-bottom: 1px solid #BBBBBB;
	background-color: transparent;

	font-size: 19px;
	font-weight: normal;
}
#page-wrap {
	margin-top: 75px;
}
#page-wrap #page-holder {
	max-width: 1000px;
	margin: 0 auto;
}
#page-wrap #page-holder #page {
	position: relative;

	float: left;
	clear: both;
	overflow: hidden;

	width: 100%;
	margin-bottom: 50px;
	padding-top: 1px;
}
.alert {
	padding: 5px 15px;

	background-image: none;
}
.alert-info {
	border-color: #BCE8F1;
	background: #D9EDF7;
}
.alert-info a {
	color: #337AB7;
}
.alert-warning {
	border-color: #FAEBCC;
	background: #FCF8E3;
}
.alert-warning a {
	color: #337AB7;
}
.bg-danger {
	background: #F2DEDE;
}
.table-striped > thead th {
	background-color: #EEEEEE;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #F9F9F9;
}
#site-header {
	/* dropdown */
}
#site-header > nav {
	border-color: #CCCCCC;
	border-bottom: 1px solid #BBBBBB;
	background: #F9F9F9;
}
#site-header > nav .navbar-brand {
	color: #4F5155;
}
#site-header > nav .navbar-brand:hover {
	color: #23527C;
}
#site-header > nav .navbar-nav > li > a {
	color: #003399;
}
#site-header > nav .navbar-nav > li > a:hover, #site-header > nav .navbar-nav > li > a:focus {
	color: #23527C;
}
#site-header > nav .container {
	padding-right: 0;
	padding-left: 0;
}
#site-header > nav .container #header-nav-user {
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
#site-header > nav .container #header-nav-user .dropdown {
	padding-left: 7.5px;
}
#site-header > nav .container #header-nav-user .dropdown .dropdown-menu {
	min-width: 123px;
	padding: 0;

	border: 1px solid #AAAAAA;
	border-top-color: #CCCCCC;
	border-radius: 0;
}
#site-header > nav .container #header-nav-user .dropdown .dropdown-menu .divider {
	margin: 0;

	background-color: #CCCCCC;
}
#site-header > nav .container #header-nav-user .dropdown .dropdown-menu > li > a {
	padding: 8px 20px;
}
#site-header > nav .container #header-nav-user .dropdown .dropdown-menu > li > a:hover {
	background: #CCCCCC none !important;
}
@media (min-width: 768px) {
	#site-header > nav .container #header-nav-user .dropdown .dropdown-menu {
		left: -1px !important;

		width: calc(100% + 2px);
	}
}
#site-header ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;

	background: #F9F9F9;
}
#site-header ul.nav li.dropdown:hover ul.dropdown-menu > li > a {
	color: #003399;
}
#site-header ul.nav li.dropdown:hover ul.dropdown-menu > li > a:hover, #site-header ul.nav li.dropdown:hover ul.dropdown-menu > li > a:focus {
	color: #23527C;
}
#site-header ul.nav li.dropdown > a {
	float: left;

	padding-left: 4px;
}
#site-header ul.nav li.dropdown .profile-image {
	float: left;

	width: 50px;
	height: 50px;
	padding: 3px;
}
/* Sticky footer styles */
html {
	position: relative;

	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 40px;
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-ms-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#site-footer {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	/* Set the fixed height of the footer here */
	height: 46px;

	background-color: #F5F5F5;
}
#site-footer .container {
	padding-top: 10px;
}
#site-footer a {
	color: #777777;
}
#site-footer a:hover {
	text-decoration: none;

	color: #373737;
	background-color: transparent;
}
#site-footer #footer-left {
	cursor: default;
}
#site-footer #footer-left .footer-copyright {
	-webkit-animation: fadeIn 0.7s;
	   -moz-animation: fadeIn 0.7s;
	     -o-animation: fadeIn 0.7s;
	        animation: fadeIn 0.7s;
}
#site-footer #footer-left .footer-debug {
	display: none;
}
#site-footer #footer-left:hover .footer-copyright {
	display: none;
}
#site-footer #footer-left:hover .footer-debug {
	display: block;

	-webkit-animation: fadeIn 0.7s;
	   -moz-animation: fadeIn 0.7s;
	     -o-animation: fadeIn 0.7s;
	        animation: fadeIn 0.7s;
}
.sprite {
	display: inline-block;

	vertical-align: text-bottom;
}
.sprite-time {
	display: inline-block;

	vertical-align: text-bottom;

	background: url("../../img/time.png") no-repeat;
}
.sprite-time.sprite-day {
	width: 16px;
	height: 16px;

	background-position: -1px -1px;
}
.sprite-time.sprite-week {
	width: 16px;
	height: 16px;

	background-position: -37px -1px;
}
.sprite-time.sprite-month {
	width: 16px;
	height: 16px;

	background-position: -19px -1px;
}
.sprite-site {
	display: inline-block;

	vertical-align: text-bottom;

	background: url("../../img/sites.png") no-repeat;
}
.sprite-site.sprite-bato-to {
	width: 16px;
	height: 16px;

	background-position: -1px -1px;
}
.sprite-site.sprite-dynasty-scans-com {
	width: 16px;
	height: 16px;

	background-position: -19px -1px;
}
.sprite-site.sprite-gameofscanlation-moe {
	width: 16px;
	height: 16px;

	background-position: -37px -1px;
}
.sprite-site.sprite-helveticascans-com {
	width: 16px;
	height: 16px;

	background-position: -55px -1px;
}
.sprite-site.sprite-kissmanga-com {
	width: 16px;
	height: 16px;

	background-position: -73px -1px;
}
.sprite-site.sprite-mangafox-me {
	width: 16px;
	height: 16px;

	background-position: -91px -1px;
}
.sprite-site.sprite-mangastream-com {
	width: 16px;
	height: 16px;

	background-position: -109px -1px;
}
.sprite-site.sprite-mngcow-co {
	width: 16px;
	height: 16px;

	background-position: -127px -1px;
}
.sprite-site.sprite-reader-kireicake-com {
	width: 16px;
	height: 16px;

	background-position: -145px -1px;
}
.sprite-site.sprite-reader-seaotterscans-com {
	width: 16px;
	height: 16px;

	background-position: -163px -1px;
}
.sprite-site.sprite-reader-sensescans-com {
	width: 16px;
	height: 16px;

	background-position: -181px -1px;
}
.sprite-site.sprite-www-mangahere-co {
	width: 16px;
	height: 16px;

	background-position: -199px -1px;
}
.sprite-site.sprite-www-mangapanda-com {
	width: 16px;
	height: 16px;

	background-position: -217px -1px;
}
.sprite-site.sprite-www-webtoons-com {
	width: 16px;
	height: 16px;

	background-position: -235px -1px;
}
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
	height: 5px;

	border-top: 0;
	border-radius: 5px;
	background: #C4E17F;
	background-image: -webkit-linear-gradient(left, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, #62C2E4 87.5%, #62C2E4);
	background-image:    -moz-linear-gradient(left, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, #62C2E4 87.5%, #62C2E4);
	background-image:      -o-linear-gradient(left, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, #62C2E4 87.5%, #62C2E4);
	background-image:         linear-gradient(to right, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, #62C2E4 87.5%, #62C2E4);
}
/* extra */
.btn-default.focus, .btn-default:active.focus, .btn-default:active:focus, .btn-default:focus {
	outline-color: #8C8C8C;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #D9D9D9;
}
#page[data-page="options"] .alert {
	background-image: none;
}
#page[data-page="options"] #api-key-div #api-key {
	text-decoration: underline;
}
#page[data-page="options"] #userscript-check {
	padding: 0 10px;

	text-align: center;
}
#page[data-page="dashboard"] > div {
	margin-bottom: 5px;
}
#page[data-page="dashboard"] > div .list-header {
	padding-right: 4px;

	text-align: right;
}
#page[data-page="dashboard"] > div#list-nav {
	background-color: #FFFFFF;
}
#page[data-page="dashboard"] > div > nav ul > li.active {
	background-color: #EEEEEE;
}
#page[data-page="dashboard"] > div > nav ul > li a {
	padding-top: 5px;
	padding-bottom: 5px;
}
#page[data-page="dashboard"] > div > nav ul > li a:hover {
	background-color: #EEEEEE;
}
#page[data-page="dashboard"] > div > #tracker-table-links {
	clear: both;
	overflow: auto;

	padding: 3px 7px;

	background-color: #EEEEEE;
}
#page[data-page="dashboard"] > div > #tracker-table-links #move-container {
	margin-left: 10px;
}
#page[data-page="dashboard"] > div > #tracker-table-links div {
	display: inline-block;

	text-align: center;
}
#page[data-page="dashboard"] > div > #tracker-table-links input {
	position: absolute;

	visibility: hidden;
}
#page[data-page="dashboard"] > div > #tracker-table-links label {
	margin-bottom: 0;
}
#page[data-page="dashboard"] > div > #tracker-table-links label span {
	cursor: pointer;

	color: #003399;
	background-color: transparent;

	font-weight: normal;
}
#page[data-page="dashboard"] > div > #tracker-table-links label span:hover {
	text-decoration: underline;
}
#page[data-page="dashboard"] > div > #tracker-table-links #import-status {
	margin-right: 10px;
}
#page[data-page="dashboard"] > .tracker-table {
	width: 100%;

	text-align: left;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(1) {
	width: 5%;

	text-align: center;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(1) > input {
	vertical-align: sub;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(2) {
	width: 50%;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(2) > img {
	width: 15px;
	height: 15px;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(2):hover .more-info {
	display: inline;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(2) .more-info {
	display: none;

	margin-right: 15px;

	cursor: pointer;

	background-color: transparent;

	font-weight: normal;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(2) .more-info:hover {
	text-decoration: underline;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(2) > .tags {
	display: none;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(2) > .tags input {
	font-style: normal;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(3) {
	width: 20%;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(4) {
	width: 20%;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(5) {
	width: 5%;
	padding: 0 5px;

	text-align: right;
}
#page[data-page="dashboard"] > .tracker-table > tbody > tr > td:nth-of-type(5) > .update-read {
	cursor: pointer;
}
#page[data-page="dashboard"] #list-nav.fixed-header {
	position: fixed;
	z-index: 1;
	top: 25px;

	width: 100%;
	max-width: 1000px;
}
#page[data-page="terms"] > header {
	text-align: center;
}
#page[data-page="terms"] > header h1 {
	border: 0;
}
#page[data-page="terms"] > header h1 a {
	font-weight: bold;
}
#page[data-page="terms"] .anchor {
	margin-top: -50px;
	padding-top: 50px;
}
#page[data-page="terms"] .anchor > header {
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;

	color: #4F5155;
	border-bottom: 1px solid #BBBBBB;
	background-color: transparent;

	font-size: 19px;
	font-weight: normal;
}
