@charset "UTF-8";
body {
	margin: 40px;

	color: #4F5155;
	background-color: #FFFFFF;

	font: 13px/20px normal;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 26px;
}
a {
	color: #003399;
	background-color: transparent;

	font-weight: normal;
}
a:hover, a:focus {
	color: #23527C;
}
select {
	color: #4F5155;
	background: #FFFFFF;
}
h1 {
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;

	color: #4F5155;
	border-bottom: 1px solid #BBBBBB;
	background-color: transparent;

	font-size: 19px;
	font-weight: normal;
}
#page-wrap {
	margin-top: 75px;
}
#page-wrap #page-holder {
	max-width: 1000px;
	margin: 0 auto;
}
#page-wrap #page-holder #page {
	position: relative;

	float: left;
	clear: both;
	overflow: hidden;

	width: 100%;
	margin-bottom: 50px;
	padding-top: 1px;
}
.alert {
	padding: 5px 15px;

	background-image: none;
}
.alert-info {
	border-color: #BCE8F1;
	background: #D9EDF7;
}
.alert-info a {
	color: #337AB7;
}
.alert-warning {
	border-color: #FAEBCC;
	background: #FCF8E3;
}
.alert-warning a {
	color: #337AB7;
}
.bg-danger {
	background: #F2DEDE !important;
}
.table-striped > thead th {
	background-color: #EEEEEE;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #F7F7F7;
}
.table-striped > tbody > tr:hover {
	background-color: #EAEAEA;
}
.tooltip {
	white-space: nowrap;
}
.tooltip .tooltip-inner {
	max-width: 100%;
}
.btn-group input:valid + .clear-text-input {
	display: block;

	-webkit-animation: fadeIn 1s;
	   -moz-animation: fadeIn 1s;
	     -o-animation: fadeIn 1s;
	        animation: fadeIn 1s;
}
.btn-group .clear-text-input {
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;

	display: none;

	height: 14px;
	margin: auto;

	cursor: pointer;

	color: #CCCCCC;

	font-size: 14px;
}
.form-control-inline {
	display: inline;

	width: auto;
	min-width: 0;
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-ms-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-moz-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-ms-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-o-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
#site-header {
	/* dropdown */
}
#site-header > nav {
	border-color: #CCCCCC;
	border-bottom: 1px solid #BBBBBB;
	background: #F7F7F7;
}
#site-header > nav .navbar-brand {
	color: #4F5155;
}
#site-header > nav .navbar-brand:hover {
	color: #23527C;
}
#site-header > nav .navbar-nav > li > a {
	color: #003399;
}
#site-header > nav .navbar-nav > li > a:hover, #site-header > nav .navbar-nav > li > a:focus {
	color: #23527C;
}
#site-header > nav .container {
	padding-right: 0;
	padding-left: 0;
}
#site-header > nav .container #header-nav-user {
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
#site-header > nav .container #header-nav-user .dropdown {
	padding-left: 7.5px;
}
#site-header > nav .container #header-nav-user .dropdown .dropdown-menu {
	min-width: 123px;
	padding: 0;

	border: 1px solid #AAAAAA;
	border-top-color: #CCCCCC;
	border-radius: 0;
}
#site-header > nav .container #header-nav-user .dropdown .dropdown-menu .divider {
	margin: 0;

	background-color: #CCCCCC;
}
#site-header > nav .container #header-nav-user .dropdown .dropdown-menu > li > a {
	padding: 8px 20px;
}
#site-header > nav .container #header-nav-user .dropdown .dropdown-menu > li > a:hover {
	background: #CCCCCC none !important;
}
@media (min-width: 768px) {
	#site-header > nav .container #header-nav-user .dropdown .dropdown-menu {
		left: -1px !important;

		width: calc(100% + 2px);
	}
}
#site-header ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;

	background: #F7F7F7;
}
#site-header ul.nav li.dropdown:hover ul.dropdown-menu > li > a {
	color: #003399;
}
#site-header ul.nav li.dropdown:hover ul.dropdown-menu > li > a:hover, #site-header ul.nav li.dropdown:hover ul.dropdown-menu > li > a:focus {
	color: #23527C;
}
#site-header ul.nav li.dropdown > a {
	float: left;

	padding-left: 4px;
}
#site-header ul.nav li.dropdown .profile-image {
	float: left;

	width: 50px;
	height: 50px;
	padding: 3px;
}
/* Sticky footer styles */
html {
	position: relative;

	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 40px;
}
#site-footer {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	/* Set the fixed height of the footer here */
	height: 46px;

	background-color: #F5F5F5;
}
#site-footer .container {
	padding-top: 10px;
}
#site-footer a {
	color: #777777;
}
#site-footer a:hover {
	text-decoration: none;

	color: #373737;
	background-color: transparent;
}
#site-footer #footer-left {
	cursor: default;
}
#site-footer #footer-left .footer-copyright {
	-webkit-animation: fadeIn 0.7s;
	   -moz-animation: fadeIn 0.7s;
	     -o-animation: fadeIn 0.7s;
	        animation: fadeIn 0.7s;
}
#site-footer #footer-left .footer-debug {
	display: none;
}
#site-footer #footer-left:hover .footer-copyright {
	display: none;
}
#site-footer #footer-left:hover .footer-debug {
	display: block;

	-webkit-animation: fadeIn 0.7s;
	   -moz-animation: fadeIn 0.7s;
	     -o-animation: fadeIn 0.7s;
	        animation: fadeIn 0.7s;
}
.sprite {
	display: inline-block;

	vertical-align: text-bottom;
}
.sprite-time {
	display: inline-block;

	vertical-align: text-bottom;

	background: url("../../img/time.3.png") no-repeat;
}
.sprite-time.sprite-day {
	width: 16px;
	height: 16px;

	background-position: -22px -2px;
}
.sprite-time.sprite-3day {
	width: 16px;
	height: 16px;

	background-position: -2px -2px;
}
.sprite-time.sprite-week {
	width: 16px;
	height: 16px;

	background-position: -82px -2px;
}
.sprite-time.sprite-month {
	width: 16px;
	height: 16px;

	background-position: -62px -2px;
}
.sprite-time.sprite-error {
	width: 16px;
	height: 16px;

	background-position: -42px -2px;
}
.sprite-site {
	display: inline-block;

	vertical-align: text-bottom;

	background: url("../../img/sites.20.png") no-repeat;
}
.sprite-site.sprite-archangelscans-com {
	width: 16px;
	height: 16px;

	background-position: 0px 0;
}
.sprite-site.sprite-bato-to {
	width: 16px;
	height: 16px;

	background-position: -18px 0;
}
.sprite-site.sprite-dynasty-scans-com {
	width: 16px;
	height: 16px;

	background-position: -36px 0;
}
.sprite-site.sprite-gameofscanlation-moe {
	width: 16px;
	height: 16px;

	background-position: -54px 0;
}
.sprite-site.sprite-helveticascans-com {
	width: 16px;
	height: 16px;

	background-position: -72px 0;
}
.sprite-site.sprite-hotchocolatescans-com {
	width: 16px;
	height: 16px;

	background-position: -90px 0;
}
.sprite-site.sprite-jaiminisbox-com {
	width: 16px;
	height: 16px;

	background-position: -108px 0;
}
.sprite-site.sprite-kissmanga-com {
	width: 16px;
	height: 16px;

	background-position: -126px 0;
}
.sprite-site.sprite-kobato-hologfx-com {
	width: 16px;
	height: 16px;

	background-position: -144px 0;
}
.sprite-site.sprite-lhtranslation-com {
	width: 16px;
	height: 16px;

	background-position: -162px 0;
}
.sprite-site.sprite-manga-fascans-com {
	width: 16px;
	height: 16px;

	background-position: -180px 0;
}
.sprite-site.sprite-mangafox-me {
	width: 16px;
	height: 16px;

	background-position: -198px 0;
}
.sprite-site.sprite-mangaichiscans-mokkori-fr {
	width: 16px;
	height: 16px;

	background-position: -216px 0;
}
.sprite-site.sprite-mangazuki-co {
	width: 16px;
	height: 16px;

	background-position: -234px 0;
}
.sprite-site.sprite-mngcow-co {
	width: 16px;
	height: 16px;

	background-position: -252px 0;
}
.sprite-site.sprite-myanimelist-net-none {
	width: 16px;
	height: 16px;

	background-position: -270px 0;
}
.sprite-site.sprite-myanimelist-net {
	width: 16px;
	height: 16px;

	background-position: -288px 0;
}
.sprite-site.sprite-otscans-com {
	width: 16px;
	height: 16px;

	background-position: -306px 0;
}
.sprite-site.sprite-read-egscans-com {
	width: 16px;
	height: 16px;

	background-position: -324px 0;
}
.sprite-site.sprite-reader-deathtollscans-net {
	width: 16px;
	height: 16px;

	background-position: -342px 0;
}
.sprite-site.sprite-reader-kireicake-com {
	width: 16px;
	height: 16px;

	background-position: -360px 0;
}
.sprite-site.sprite-reader-s2smanga-com {
	width: 16px;
	height: 16px;

	background-position: -378px 0;
}
.sprite-site.sprite-reader-seaotterscans-com {
	width: 16px;
	height: 16px;

	background-position: -396px 0;
}
.sprite-site.sprite-reader-sensescans-com {
	width: 16px;
	height: 16px;

	background-position: -414px 0;
}
.sprite-site.sprite-reader-whiteoutscans-com {
	width: 16px;
	height: 16px;

	background-position: -432px 0;
}
.sprite-site.sprite-reader-ygscans-com {
	width: 16px;
	height: 16px;

	background-position: -450px 0;
}
.sprite-site.sprite-readms-net {
	width: 16px;
	height: 16px;

	background-position: -468px 0;
}
.sprite-site.sprite-www-demonicscans-com {
	width: 16px;
	height: 16px;

	background-position: -486px 0;
}
.sprite-site.sprite-www-mangahere-co {
	width: 16px;
	height: 16px;

	background-position: -504px 0;
}
.sprite-site.sprite-www-mangapanda-com {
	width: 16px;
	height: 16px;

	background-position: -522px 0;
}
.sprite-site.sprite-www-merakiscans-com {
	width: 16px;
	height: 16px;

	background-position: -540px 0;
}
.sprite-site.sprite-www-readmanga-today {
	width: 16px;
	height: 16px;

	background-position: -558px 0;
}
.sprite-site.sprite-www-slide-world-three-org {
	width: 16px;
	height: 16px;

	background-position: -576px 0;
}
.sprite-site.sprite-www-webtoons-com {
	width: 16px;
	height: 16px;

	background-position: -594px 0;
}
#page[data-page="index"] h1 {
	font-size: 36px;
}
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
	height: 5px;

	border-top: 0;
	border-radius: 5px;
	background: #C4E17F;
	background-image: -webkit-linear-gradient(left, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, #62C2E4 87.5%, #62C2E4);
	background-image:    -moz-linear-gradient(left, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, #62C2E4 87.5%, #62C2E4);
	background-image:      -o-linear-gradient(left, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, #62C2E4 87.5%, #62C2E4);
	background-image:         linear-gradient(to right, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, #62C2E4 87.5%, #62C2E4);
}
/* extra */
.btn-default.focus, .btn-default:active.focus, .btn-default:active:focus, .btn-default:focus {
	outline-color: #8C8C8C;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #D9D9D9;
}
#page[data-page="options"] {
	overflow: visible !important;
}
#page[data-page="options"] .alert {
	background-image: none;
}
#page[data-page="options"] #api-key-div #api-key {
	text-decoration: underline;
}
#page[data-page="options"] #userscript-check {
	padding: 0 10px;

	text-align: center;
}
#page[data-page="dashboard"] > div {
	margin-bottom: 5px;
}
#page[data-page="dashboard"] #update-notice .close {
	line-height: inherit;
}
#page[data-page="dashboard"] #inactive-series {
	overflow-y: scroll;

	max-height: 250px;
}
#page[data-page="dashboard"] #list-nav {
	background-color: #FFFFFF;
}
#page[data-page="dashboard"] #list-nav.fixed-header {
	position: fixed;
	z-index: 1;
	top: 25px;

	width: 100%;
	max-width: 1000px;
}
#page[data-page="dashboard"] #list-nav .list-header {
	padding-right: 4px;

	text-align: right;
}
#page[data-page="dashboard"] #list-nav #category-nav ul > li.active {
	background-color: #EEEEEE;
}
a #page[data-page="dashboard"] #list-nav #category-nav ul > li.active:active, a #page[data-page="dashboard"] #list-nav #category-nav ul > li.active:focus {
	background-color: #EEEEEE;
}
#page[data-page="dashboard"] #list-nav #category-nav ul > li a {
	padding-top: 5px;
	padding-bottom: 5px;
}
#page[data-page="dashboard"] #list-nav #category-nav ul > li a:hover, #page[data-page="dashboard"] #list-nav #category-nav ul > li a:focus {
	background-color: #EEEEEE;
}
#page[data-page="dashboard"] #list-nav .nav-row {
	clear: both;
	overflow: auto;

	padding: 3px 7px;

	background-color: #EEEEEE;
}
#page[data-page="dashboard"] #list-nav .nav-row div {
	display: inline-block;

	text-align: center;
}
#page[data-page="dashboard"] #list-nav .nav-row div:not(:first-child) {
	margin-left: 10px;
}
#page[data-page="dashboard"] #list-nav .nav-row label {
	margin-bottom: 0;
}
#page[data-page="dashboard"] #list-nav .nav-row label span {
	cursor: pointer;

	color: #003399;
	background-color: transparent;

	font-weight: normal;
}
#page[data-page="dashboard"] #list-nav .nav-row label span:hover {
	text-decoration: underline;
}
#page[data-page="dashboard"] #list-nav #tracker-table-links #search {
	height: 26px;
	padding: 6px 8px;

	font-size: 13px;
}
#page[data-page="dashboard"] #list-nav #tracker-table-links #toggle-nav-options {
	color: inherit;
}
#page[data-page="dashboard"] #list-nav #tracker-table-links #toggle-nav-options i {
	-webkit-transition: all 0.5s linear;
	   -moz-transition: all 0.5s linear;
	     -o-transition: all 0.5s linear;
	        transition: all 0.5s linear;
}
#page[data-page="dashboard"] #list-nav #tracker-table-links #toggle-nav-options i.down {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}
#page[data-page="dashboard"] #list-nav #nav-options {
	display: none;
	clear: both;

	padding: 3px 7px;

	background-color: #EEEEEE;
}
#page[data-page="dashboard"] #list-nav #nav-options div {
	display: inline-block;

	text-align: center;
}
#page[data-page="dashboard"] .tracker-table {
	width: 100%;

	text-align: left;
}
#page[data-page="dashboard"] .tracker-table .sorter-false {
	background-image: none !important;
}
#page[data-page="dashboard"] .tracker-table .header, #page[data-page="dashboard"] .tracker-table .tablesorter-header {
	padding: 4px 20px 4px 4px;

	cursor: pointer;
	white-space: normal;

	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-repeat: no-repeat;
	background-position: center right;
}
#page[data-page="dashboard"] .tracker-table thead .headerSortUp, #page[data-page="dashboard"] .tracker-table thead .tablesorter-headerAsc, #page[data-page="dashboard"] .tracker-table thead .tablesorter-headerSortUp {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
#page[data-page="dashboard"] .tracker-table thead .headerSortDown, #page[data-page="dashboard"] .tracker-table thead .tablesorter-headerDesc, #page[data-page="dashboard"] .tracker-table thead .tablesorter-headerSortDown {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
#page[data-page="dashboard"] .tracker-table > thead th {
	background-color: #EEEEEE;
}
#page[data-page="dashboard"] .tracker-table > thead th:nth-of-type(1) {
	width: 40px;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr.even, #page[data-page="dashboard"] .tracker-table > tbody > tr.even > td {
	background-color: #F7F7F7;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr.odd, #page[data-page="dashboard"] .tracker-table > tbody > tr.odd > td {
	background-color: transparent;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr:hover {
	background-color: #EAEAEA;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(1) {
	width: 40px;

	text-align: center;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(1) > input {
	vertical-align: sub;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2) {
	width: 50%;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2) > img {
	width: 15px;
	height: 15px;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2) .mal-link {
	text-decoration: none;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2):hover .toggle-info {
	display: inline;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2) .toggle-info {
	display: none;

	margin-right: 15px;

	cursor: pointer;

	background-color: transparent;

	font-weight: normal;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2) .toggle-info:hover {
	text-decoration: underline;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2) > .more-info {
	display: none;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2) > .more-info input {
	font-style: normal;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2) > .has-tags {
	display: block;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(2) .tag-list > .tag:not(:first-of-type):before {
	content: ",";
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(3) {
	width: 20%;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(3) .hidden-chapter {
	font-size: 11px;
	font-style: italic;
	line-height: 11px;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(3) .hidden-chapter:before {
	content: " (";
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(3) .hidden-chapter:after {
	content: ")";
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(4) {
	width: 20%;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(5) {
	width: 5%;
	padding: 0 5px;

	text-align: right;
	white-space: nowrap;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(5) .list-icon:not(:nth-last-child(1)) {
	margin-right: 2px;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(5) .update-read {
	cursor: pointer;
}
#page[data-page="dashboard"] .tracker-table > tbody > tr > td:nth-of-type(5) .ignore-latest {
	cursor: pointer;
}
#page[data-page="history"] #history-options {
	margin-bottom: 5px;
}
#page[data-page="terms"] > header {
	text-align: center;
}
#page[data-page="terms"] > header h1 {
	border: 0;
}
#page[data-page="terms"] > header h1 a {
	font-weight: bold;
}
#page[data-page="terms"] .anchor {
	margin-top: -50px;
	padding-top: 50px;
}
#page[data-page="terms"] .anchor > header {
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;

	color: #4F5155;
	border-bottom: 1px solid #BBBBBB;
	background-color: transparent;

	font-size: 19px;
	font-weight: normal;
}
