// TEXT
@textMain: #DDDDDD;

// LINKS
@linkPrimary:   #FFCC66;
@linkSecondary: #888888;
@linkTertiary:  #373737;

@linkHoverPrimary: #FFB219;

// BACKGROUND
@backgroundPrimary:    #202020;
@backgroundSecondary:  #060606;
@backgroundTertiary:   #111111;
@backgroundQuaternary: #161616;

@backgroundInfo:       #D9EDF7;
@backgroundWarning:    #FCF8E3;
@backgroundDanger:     #290000;

// BORDERS
@borderPrimary:   #FFF - #BBBBBB;
@borderSecondary: #FFF - #CCCCCC;
@borderTertiary:  #FFF - #AAAAAA;

@borderInfo:      #BCE8F1;
@borderWarning:   #FAEBCC;
