// TEXT
@textMain: #4F5155;

// LINKS
@linkPrimary:   #003399;
@linkSecondary: #777777;
@linkTertiary:  #373737;

@linkHoverPrimary: #23527C;

// BACKGROUND
@backgroundPrimary:    #FFFFFF; //White
@backgroundSecondary:  #EEEEEE; //Light Grey
@backgroundTertiary:   #F5F5F5; //Lighter Grey
@backgroundQuaternary: #F9F9F9;

@backgroundInfo:       #D9EDF7;
@backgroundWarning:    #FCF8E3;
@backgroundDanger:     #F2DEDE;

// BORDERS
@borderPrimary:   #BBBBBB;
@borderSecondary: #CCCCCC;
@borderTertiary:  #AAAAAA;

@borderInfo:      #BCE8F1;
@borderWarning:   #FAEBCC;
