// TEXT
@textMain: #4F5155;

// LINKS
@linkPrimary:   #003399;
@linkSecondary: #777777;

// BACKGROUND
@backgroundPrimary:   #FFFFFF; //White
@backgroundSecondary: #EEEEEE; //Light Grey
@backgroundTertiary:  #F5F5F5; //Lighter Grey

// BORDERS
@borderPrimary:   #BBBBBB;
@borderSecondary: #CCCCCC;
@borderTertiary:  #AAAAAA;

@color1: #CCCCCC;
@color2: #AAAAAA;
