<?php defined('BASEPATH') OR exit('No direct script access allowed');

$config['mangafox_userid']   = '';
//$config['mangafox_userid']   = '';
$config['mangafox_password'] = '';

$config['mangahere_username'] = '';
$config['mangahere_password'] = '';

$config['webtoons_cookie'] = '';
