body {
	margin: 40px;

	color: @textMain;
	background-color: @backgroundMain;

	font: 13px/20px normal;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;

	line-height: 26px;
	font-weight: 400;
}

a {
	color: @linkMain;
	background-color: transparent;

	font-weight: normal;
}

h1 {
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;

	color: @textMain;
	border-bottom: 1px solid @borderMain;
	background-color: transparent;

	font-size: 19px;
	font-weight: normal;
}

//This is pretty much taken directly from http://www.trueachievements.com
#page-wrap {
	margin-top: 75px;

	#page-holder {
		//min-width: 1000px; //This causes issues on mobile
		max-width: 1000px;

		margin: 0 auto;

		#page {
			position: relative;
			clear: both; //CHECK: Is this needed?
			float: left; //CHECK: Is this needed?
			width: 100%;
			overflow: hidden;
			//min-height: 724px;

			margin-bottom: 40px + 10px; //This keeps the footer from overlaying on the page
			padding-top: 1px;
		}
	}
}

//Custom bootstrap table row colors
//TODO: Convert to LESS.
.table > tbody > tr.inactive > td,
.table > tbody > tr.inactive > th,
.table > tbody > tr > td.inactive,
.table > tbody > tr > th.inactive,
.table > tfoot > tr.inactive > td,
.table > tfoot > tr.inactive > th,
.table > tfoot > tr > td.inactive,
.table > tfoot > tr > th.inactive,
.table > thead > tr.inactive > td,
.table > thead > tr.inactive > th,
.table > thead > tr > td.inactive,
.table > thead > tr > th.inactive {
	color: grey;
}

/*.table-hover > tbody > tr.inactive:hover > td,
.table-hover > tbody > tr.inactive:hover > th,
.table-hover > tbody > tr:hover > .inactive,
.table-hover > tbody > tr > td.inactive:hover,
.table-hover > tbody > tr > th.inactive:hover {
	//background-color: #d0e9c6;
}*/

.alert {
	background-image: none;
	padding: 5px 15px;
}
table>tbody>tr.danger>td, table>tbody>tr.danger>th, table>tbody>tr>td.danger, table>tbody>tr>th.danger, table>tfoot>tr.danger>td, table>tfoot>tr.danger>th, table>tfoot>tr>td.danger, table>tfoot>tr>th.danger, table>thead>tr.danger>td, table>thead>tr.danger>th, table>thead>tr>td.danger, table>thead>tr>th.danger {
	background-color: #f2dede;
}

a.inline {
	display:inline;
}

