body {
	margin: 40px;

	color: @textMain;
	background-color: @backgroundPrimary;

	font: 13px/20px normal;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;

	line-height: 26px;
	font-weight: 400;
}

a {
	color: @linkPrimary;
	background-color: transparent;

	font-weight: normal;

	&:hover {
		color: @linkHoverPrimary;
	}
}

select {
	background: @backgroundPrimary;
	color:      @textMain;
}

h1 {
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;

	color: @textMain;
	border-bottom: 1px solid @borderPrimary;
	background-color: transparent;

	font-size: 19px;
	font-weight: normal;
}

//This is pretty much taken directly from http://www.trueachievements.com
#page-wrap {
	margin-top: 75px;

	#page-holder {
		//min-width: 1000px; //This causes issues on mobile
		max-width: 1000px;

		margin: 0 auto;

		#page {
			position: relative;
			clear: both; //CHECK: Is this needed?
			float: left; //CHECK: Is this needed?
			width: 100%;
			overflow: hidden;
			//min-height: 724px;

			margin-bottom: 40px + 10px; //This keeps the footer from overlaying on the page
			padding-top: 1px;
		}
	}
}

.alert {
	background-image: none; //Because gradients are awful.
	padding: 5px 15px; //Reduces the padding to a decent size.
}
