#site-header {
	& > nav {
		background: @backgroundQuaternary;
		border-color: @borderSecondary;

		border-bottom: 1px solid @borderPrimary;

		.navbar-brand {
			color: @linkPrimary;
			&:hover { color: @linkHoverPrimary }
		}
		.navbar-nav > li > a {
			color: @linkPrimary;
			&:hover, &:focus { color: @linkHoverPrimary; }
		}

		.container {
			padding-left: 0;
			padding-right: 0;

			#header-nav-user {
				border-left:   1px solid @borderSecondary;
				border-right:  1px solid @borderSecondary;

				.dropdown {
					padding-left: 7.5px;

					.dropdown-menu {
						border: 1px solid @borderTertiary;
						border-top-color: @borderSecondary;

						border-radius: 0;

						min-width: 123px;

						padding: 0;

						.divider {
							background-color: @borderSecondary;
							margin: 0;
						}
						& > li > a {
							padding: 8px 20px;

							&:hover {
								background: @borderSecondary none !important;
							}
						}
						@media (min-width: 768px) {
							left: -1px !important; //fix for dropdown positioning
							width: ~"calc(100% + 2px)";
						}
					}
				}

			}
		}
	}

	/* dropdown */
	ul.nav {
		li.dropdown {
			&:hover ul.dropdown-menu {
				display: block;
				background: @backgroundQuaternary;

				& > li > a {
					color: @linkPrimary;
					&:hover, &:focus { color: @linkHoverPrimary; }
				}
			}

			& > a {
				padding-left: 4px;
				float: left;
			}
			.profile-image {
				float:left;

				padding: 3px;

				//Avoid image pop-in
				width:  50px;
				height: 50px;
			}
		}
	}
}
