.keyframes(@name, @frames) {
	@-webkit-keyframes @name { @frames(); }
	@-moz-keyframes    @name { @frames(); }
	@-ms-keyframes     @name { @frames(); }
	@-o-keyframes      @name { @frames(); }
	@keyframes         @name { @frames(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation:    @arguments;
	//-ms-animation:   @arguments; //This doesn't seem to exist
	-o-animation:      @arguments;
	animation:         @arguments;
}

.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.rotate(@degrees) {
	-webkit-transform: rotate(@degrees);
	-moz-transform: rotate(@degrees);
	-ms-transform: rotate(@degrees);
	-o-transform: rotate(@degrees);
	transform: rotate(@degrees);
}

.fake-link(@useColor: true) {
	& when (@useColor = true) {
		color: @linkPrimary;
	}
	background-color: transparent;
	font-weight: normal;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
